/* hero container */
.hero.section {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding: 0.83333rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* hero title */
.hero.section .title {
	margin: 0 auto;
	color: #e76600;
	font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	transition: opacity 500ms ease;
}

/* hero title sub */
.hero.section .title .sub {
	display: block;
	color: #777;
	font-size: 50%;	
}
