.read.next.figure {
  margin: 0;
}

.read.next.figure .link {
  display: block;
  position: relative;
  margin-top: 0.5em;
  font-family: 'Ubuntu','Open Sans','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  transform: scale(1.15);
  transition: all 250ms ease;
}

.read.next.figure .link:hover {
  transform: scale(1.5);
}

.read.next.figure .link.previous {
  filter: blur(0.15em);
  transform: scale(0.5);
}

.read.next.figure .link.previous:hover {
  filter: blur(0);
  transform: scale(0.75);
}

.read.next.figure .link .label {
  display: block;
  color: #333;
  font-size: 50%;
  font-weight: normal;
  transition: all 250ms ease;
}
