/* footer container */
.footer {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	z-index: 1;
	background-color: #3f324d;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.footer .title {
	color: #ff995e;
}

/* copyright figure */
.footer .copyright.figure {
	position: absolute;
	bottom: 0;
	left: 0;
}

/* copyright message */
.footer .copyright.figure .message {
	margin: 0;
	color: #fff;
	font-size: .8rem;
	line-height: 1;
}

/* copyright message link */
.footer .copyright.figure .message .link {
	color: #fff;
	text-decoration: underline;
}

/* copyright message link hover */
.footer .copyright.figure .message .link:hover {
	color: #fff;
}
