/* ELEMENT STATES */

/* FOR: states for all elements and classes */
/* FOR EXAMPLE: header.fixed, form.active, section.hidden, button:hover, a:hover, etc... */
/* NOT FOR: styles for elements or typography */
/* NOT FOR EXAMPLE:  p, h1, li, td, label, section, figure, form, button, etc... */

/* header headroom */

.header .headroom.headroom--unpinned {
  position: relative;
  top: 0;
  left: 0;
}

.header .headroom.headroom--pinned {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.83333rem;
}

/* collection list */

.collection.list .item .link:hover .title {
  color: #ff995e;
}
