.header {
  z-index: 2;
}

.header .link {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 3em;
  height: 3em;
  margin: 0;
  z-index: 1;
}

.header .logo.image {
  margin: 0;
  padding: 0.25em;
  border-radius: 50%;
  background-color: #fff;
}
